doctype html
html
  head
    title= title
    block style
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans',type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    block script
  body
    block content

